@model IPGTrails4Health.Models.Dificuldade

@{
    ViewData["Title"] = "Delete";
}
</br>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo eliminar esta Dificuldade?</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delet">
        <input type="hidden" asp-for="DificuldadeId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-outline-info">Lista de Dificuldades</a>
    </form>
</div>
