@model IPGTrails4Health.Models.Dificuldade

@{
    ViewData["Title"] = "Delete";
}
</br>
<h2>Eliminar Dificuldade</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delet">
        <input type="hidden" asp-for="DificuldadeId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Lista de Dificuldades</a>
    </form>
</div>
