@model IPGTrails4Health.Models.Dificuldade

@{
    ViewData["Title"] = "Details";
}
</br>
<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DificuldadeId" class="btn btn-outline-warning">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-info">Lista de Dificuldades</a>
</div>
