@model IPGTrails4Health.Models.TurismoViewModels.AlojamentoViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir Alojamento</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Inserir Alojamento</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="Alojamento" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                <label>Tipo de alojamento?</label>
                <select class="form-control" asp-for="Tipo">
                    <option value="alojamento">Hotel</option>
                    <option value="pensao">Pensão</option>
                    <option value="pCampismo">Parque Campismo</option>
                </select>
                    </div>
                <div class="form-group">
                    <label asp-for="Nome">Nome:</label>
                    <input class="form-control" asp-for="Nome"/>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao">Descrição:</label>
                    <input class="form-control" asp-for="Descricao"/>
                </div>
                <div class="form-group">
                    <label asp-for="Local">Local:</label>
                    <input class="form-control" asp-for="Local"/>
                </div>
                <div class="form-group">
                    <label asp-for="PrecoMin">Preço mínimo:</label>
                    <input type="number" class="form-control" asp-for="PrecoMin"/>
                    <label asp-for="PrecoMax">Preço máximo:</label>
                    <input type="number" class="form-control" asp-for="PrecoMax"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Inserir Alojamento
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>