@model IPGTrails4Health.Models.AreaDescanso


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inserir Áreas de Descanso</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Inserir Áreas de Descanso</h4></div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="AreasDescanso" method="post">
            <div asp-validation-summary="All"></div>
             
            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input class="form-control" asp-for="Nome" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao">Descrição:</label>
                <input class="form-control" asp-for="Descricao" />
            </div>
            <div class="form-group">
                <label asp-for="Local">Local:</label>
                <input class="form-control" asp-for="Local" />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Inserir Restaurante
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>