.vs/
IPGtrails4health/IPGTrails4Health/.vs/
IPGtrails4health/IPGTrails4Health/IPGTrails4Health/bin
IPGtrails4health/IPGTrails4Health/IPGTrails4Health/obj
IPGtrails4health/.DS_Store
*.userprefs
IPGtrails4health/.DS_Store
