@model IPGTrails4Health.Models.Localidade

@{
    ViewData["Title"] = "Delete";
}
</p>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Atenção!</h4>
    <p class="mb-0">Deseja mesmo eliminar esta Localidade?</p>
</div>

<div>
    <h4>Localidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocalidadeId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index"class="btn btn-outline-info">Lista de Localidades</a>
    </form>
</div>
