@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Verificação do código de recuperação";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Solicitou o login com um código de recuperação. Este login não será lembrado até que forneça um código do aplicativo de autenticação no login ou desative a autenticação em 2 passos e faça o login novamente.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryCode">Código de Recuperação</label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">Entrar</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}