@model IPGTrails4Health.Models.Alojamento

@{
    ViewData["Title"] = "Criar um novo Alojamento";
}
<br/>
<h2>Criar alojamento</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadeId" class="control-label">Localidade</label>
                <select asp-for="LocalidadeId" class ="form-control" asp-items="ViewBag.LocalidadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoAlojamentoId" class="control-label">Tipo de Alojamento</label>
                <select asp-for="TipoAlojamentoId" class ="form-control" asp-items="ViewBag.TipoAlojamentoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
