@model IPGTrails4Health.Models.AreaDescansoTrilho

@{
    ViewData["Title"] = "Adicionar área de descanso a um trilho";
}
<br/>
<h2>Adicionar área de descanso a um trilho</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AreaDescansoTrilhoId" class="control-label"></label>
                <input asp-for="AreaDescansoTrilhoId" class="form-control" />
                <span asp-validation-for="AreaDescansoTrilhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrilhoId" class="control-label">Trilho</label>
                <select asp-for="TrilhoId" class ="form-control" asp-items="ViewBag.TrilhoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AreaDescansoId" class="control-label">Área de Descanso</label>
                <select asp-for="AreaDescansoId" class ="form-control" asp-items="ViewBag.AreaDescansoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

