@model IPGTrails4Health.Models.RestauranteTrilho

@{
    ViewData["Title"] = "Editar restaurantes/trilhos";
}
<br/>
<h2>Editar restaurante associados a um trilho</h2>
<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="RestauranteTrilhoId" class="control-label"></label>
                <input asp-for="RestauranteTrilhoId" class="form-control" />
                <span asp-validation-for="RestauranteTrilhoId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="RestauranteId" class="control-label">Restaurante</label>
                <select asp-for="RestauranteId" class="form-control" asp-items="ViewBag.RestauranteId"></select>
                <span asp-validation-for="RestauranteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrilhoId" class="control-label">Trilho</label>
                <select asp-for="TrilhoId" class="form-control" asp-items="ViewBag.TrilhoId"></select>
                <span asp-validation-for="TrilhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestauranteTrilhoId" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>

