@model IPGTrails4Health.Models.Trilho

@{
    ViewData["Title"] = "Create";
}
<hr/>
<h2>Criar Trilho</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partida" class="control-label"></label>
                <input asp-for="Partida" class="form-control" />
                <span asp-validation-for="Partida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chegada" class="control-label"></label>
                <input asp-for="Chegada" class="form-control" />
                <span asp-validation-for="Chegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distancia" class="control-label"></label>
                <input asp-for="Distancia" class="form-control" />
                <span asp-validation-for="Distancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracao" class="control-label"></label>
                <input asp-for="Duracao" class="form-control" />
                <span asp-validation-for="Duracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dificuldade" class="control-label"></label>
                <select asp-for="DificuldadeId" class ="form-control" asp-items="ViewBag.DificuldadeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EpocaAno" class="control-label"></label>
                <select asp-for="EpocaAnoId" class ="form-control" asp-items="ViewBag.EpocaAnoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Lista de Trilhos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
