@model IPGTrails4Health.Models.TrilhosViewModels.CriarTrilhoViewModel

    @{ 

    }

<form asp-action="CriarTrilho" method="post">
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h3 class="panel-title">Criar Trilho</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label asp-for="Nome">Nome do Trilho</label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Partida">Partida do trilho</label>
                <select asp-for="Partida" class="form-control" >
                    <option value="">Escolha uma opção </option>
                    </select>
            </div>

            <div class="form-group">
                <label asp-for="Chegada">Fim do trilho</label>
                <select asp-for="Chegada" class="form-control">
                <option value="">Escolha uma opção </option>
                    </select>
            </div>

            <div class="form-group">
                <label asp-for="Distancia">Distancia</label>
                <input asp-for="Distancia" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Dificuldade">Dificuldade</label>
                <select asp-for="Dificuldade" class="form-control">
                    <option value="">Escolha uma opção </option>
                    <option value="">Alta</option>
                    <option value="">Baixa</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Percurso">Percurso</label>
                <select asp-for="Percurso" class="form-control">
                    <option value="">Escolha uma opção </option>
                    <option value="">Linear</option>
                    <option value="">Circular</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Sazonalidade">Sazonalidade</label>
                <select asp-for="Sazonalidade" class="form-control">
                    <option value="">Escolha uma opção </option>
                    <option value="">Inverno</option>
                    <option value="">Primavera</option>
                    <option value="">Verão</option>
                    <option value="">Outuno</option>
                    <option value="">Todo Ano</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="EstadoTrilho">Estado do Trilho:</label>
                <select asp-for="EstadoTrilho" class="form-control">
                    <option value="">Escolha uma opção </option>
                    <option value="">Aberto</option>
                    <option value="">Fechado</option>
                </select>
            </div>

            <div asp-validation-summary="All"></div>
        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Criar Trilho</button>
        </div>
    </div>
</form>