@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Página de acesso às funcionalidades do sistema</h1>
<br/><br /><br />
<div class="row">
    <div class="col-md-6" align="center">
        <h2>Inserir Pontos de Interesse</h2>
            <a class="btn btn-default" asp-controller="Turismo" asp-action="PontosInteresse"> Adicionar </a>

    </div>
    <div class="col-md-6" align="center">
        <h2>Inserir Alojamento, Restaurantes, Áreas de Descanso durante o percurso</h2>
          <a class="btn btn-default" asp-controller="Turismo" asp-action="Extras"> Adicionar </a>

    </div>
</div>