@model IPGTrails4Health.Models.PontoInteresse

@{
    ViewData["Title"] = "Editar";
}

<br />
<h2>Editar</h2>
<br />

<h4>Ponto de Interesse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PontoInteresseId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label">Local Específico</label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadeId" class="control-label">Localidade</label>
                <select asp-for="LocalidadeId" class="form-control" asp-items="ViewBag.LocalidadeId"></select>
                <span asp-validation-for="LocalidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPontoInteresseId" class="control-label">Tipo</label>
                <select asp-for="TipoPontoInteresseId" class="form-control" asp-items="ViewBag.TipoPontoInteresseId"></select>
                <span asp-validation-for="TipoPontoInteresseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
