@model IPGTrails4Health.Models.PontosInteresse.InserirPontoInteresseModel

@{
    ViewData["Title"] = "Inserir Ponto de Interesse";
}

<head> 
    <meta name="viewport" content="width=device-width" /> 
    <title>Inserir Ponto de Interesse</title> 
    <link rel="stylesheet" href="/css/valErros.css" /> 

</head> 
 
<h3>@ViewData["Message"]</h3>

<form asp-action="InserirPontosInteresse" method="post">
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h3 class="panel-title">Inserir Ponto de Interesse</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label asp-for="PontoInteresse">Ponto de Interesse:</label>
                <select asp-for="PontoInteresse" class="form-control">
                    <option value="0">Escolha uma Opção</option>
                    <option value="1">Fauna</option>
                    <option value="2">Flora</option>
                    <option value="3">Histórico</option>
                    <option value="4">Monumentos</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Local">Local:</label>
                <input asp-for="Local" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Sazonalidade">Sazonalidade</label>
                <select asp-for="Sazonalidade" class="form-control">
                    <option value="0">Escolha uma Opção</option>
                    <option value="1">Primavera</option>
                    <option value="2">Verão</option>
                    <option value="3">Outono</option>
                    <option value="4">Inverno</option>
                    <option value="5">Todo o Ano</option>
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="Observacoes">Observações:</label>
                <textarea rows="5" asp-for="Observacoes" class="form-control"></textarea>
            </div>

            <div asp-validation-summary="All"></div>
        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Inserir Ponto de Interesse</button>
        </div>
    </div>
</form>