@{
    ViewData["Title"] = "Informações acerca do nosso projeto";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>O Projeto Trails4health incide sobre a prática desportiva saudável, criando rotas e avaliando esforços; serão avaliados indicadores fisiológicos (esforço cardíaco e gasto energético) e biomecânicos (impacto articular e muscular) discriminadores do esforço requerido, em função das etapas e dos utentes, de acordo com a sua idade e/ou nível de aptidão física.</p>
