
@{
    ViewData["Title"] = "GestaoPaginas";
}
<h2>Gestão de Administrador</h2>
<br/><br />

<div class="row">
    <div class="col-md-3" align="center">
        <img src="~/images/trilho.jpg" class="img-thumbnail" />
        <h2>Trilhos</h2>
        <a class="btn btn-primary" asp-controller="Home" asp-action="HowToStart"> Gerir </a>

    </div>

    <div class="col-md-3" align="center">
        <img src="~/images/pontointeresse.jpg" class="img-thumbnail" />
        <h3>Pontos de Interessse</h3>
        <a class="btn btn-primary" asp-controller="Home" asp-action="HowToStart"> Gerir </a>
    </div>

    <div class="col-md-3" align="center">
        <img src="~/images/alojamento.jpg" class="img-thumbnail" />
        <h2>Alojamentos</h2>
        <a class="btn btn-primary" asp-controller="Home" asp-action="HowToStart"> Gerir </a>
    </div>

<div class="col-md-3" align="center">
    <img src="~/images/restaurante.jpg" class="img-thumbnail" />
    <h2>Restaurantes</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="HowToStart"> Gerir </a>
</div>
