@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Trails4Health</h1>
    <img class="img-fluid img-thumbnail" src="~/images/6cc541_7dd16908660b488bb5db119c15ee04b4_mv2.jpg" />
    <p class="lead">
        A Serra da Estrela, situada na região do Centro (Região das Beiras), designa a cadeia montanhosa onde se encontram as maiores altitudes de Portugal Continental,
        constituindo a segunda montanha mais alta de Portugal (apenas a Montanha do Pico, nos Açores, a supera em 358 metros).
    </p>

    <p class="lead">
        Faz parte da mais vasta cordilheira denominada Sistema Central, no subsistema designado como sistema montanhoso Montejunto-Estrela,
        que se desenvolve no sentido sudoeste-nordeste desde a serra de Montejunto, e o seu cume-pai é o Pico de Almançor.
    </p>

    <p class="lead">A serra da Estrela é uma zona de paisagem integrada no Parque Natural da Serra da Estrela, que após a sua constituição em 16 de Julho de 1976 se instituiu como a maior área protegida em solo português. </p>

    <p class="lead">
        Além da neve, da fauna e flora extraordinárias, o viajante é também atraído pela orografia de proporções colossais ( vd. p.e. Cântaro Magro) bem como pela riqueza humana, cultural,
        histórica e gastronómica da região.
    </p>

    <hr class="my-4">

    <h2>Como Chegar</h2>
    <p>A Serra da Estrela está situada na região do Centro. Entre Guarda e Castelo Branco.</p>

    <p>Para saber mais clique no botão abaixo.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.google.pt/maps/place/Serra+da+Estrela/" target="_blank" role="button">Mapa</a>
    </p>

    <hr class="my-4">

    <h2>Contactos</h2>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Introduza o seu email">
            <small id="emailHelp" class="form-text text-muted">Não iremos partilhar o email com outras entidades</small>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Mensagem</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</div>

<div class="row">
    <div class="card text-white bg-primary m-auto" style="max-width: 15rem;">
        <div class="card-header">NATUREZA</div>
        <div class="card-body">
            <p class="card-text">Desfrute de uma natureza em estado puro. Sinta o Ar puro da Serra.</p>
        </div>
    </div>
    <div class="card text-white bg-primary m-auto" style="max-width: 15rem;">
        <div class="card-header">BIOLOGIA</div>
        <div class="card-body">
            <p class="card-text">Observe a biodiversidade do local, com espécies em vias de extinção na Europa.</p>
        </div>
    </div>
    <div class="card text-white bg-primary m-auto" style="max-width: 15rem;">
        <div class="card-header">GEOLOGIA</div>
        <div class="card-body">
            <p class="card-text">Deslumbre-se com todo a geologia do existente, durante o percurso.</p>
        </div>
    </div>
    <div class="card text-white bg-primary m-auto" style="max-width: 15rem;">
        <div class="card-header">ARQUEOLOGIA</div>
        <div class="card-body">
            <p class="card-text">Faça uma viagem ao passado, com mais de mil anos de história.</p>
        </div>
    </div>
</div>
